<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>banner Component's page</title>
</head>
<body>
    <div class="cpmponent-container">
        <div class="c-banner">
            <h3 class="c-banner__title">بوابة الدفع عبر بايونر متاحة!</h3>
            <p class="c-banner__desc">
                تم إضافة بوابة الدفع عبر بايونر لكل متاجر عربي، تستطيع ربط حسابك في بايونر لتستقبل الأموالعبرها.
            </p>
            <a href="#" class="c-btn c-btn--ghost c-banner__action">إكتشف المزيد</a>
            <i class="c-icon c-icon--flag c-banner__icon"></i>
            <i class="c-icon c-icon--cancel-circle c-banner__close"></i>
        </div>
    </div>
</body>
</html>